h1 Drink Water
h3 Goal: 2 Liters 
.cup 
  .remained#remained 
    span#liters 
    small Remained 
  
  .percentage#percentage 

p.text Select how many glasses of water that you have drank 

.cups 
  .cup.cup-small 250 ml
  .cup.cup-small 250 ml
  .cup.cup-small 250 ml
  .cup.cup-small 250 ml
  .cup.cup-small 250 ml
  .cup.cup-small 250 ml
  .cup.cup-small 250 ml
  .cup.cup-small 250 ml

